.slider{
    display: flex;
}
.item{
    border: 1px solid green;
    height: 100vh;
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    background-color:#aeaeaae;
    color: white;
    font-size: 30px;
    text-shadow: 0 0 10px;
    transition: 0.5s;
}
.item:hover{
    flex-basis: 75%;

}
.item-1{
    background: url(../img/1.jpg)center;
    background-size: cover;
}
.item-2{
    background: url(../img/2.jpg)center;
    background-size: cover;
}
.item-3{
    background: url(../img/3.jpg)center;
    background-size: cover;
}
.item-4{
    background: url(../img/4.jpg)center;
    background-size: cover;
}